<h1>Listing resturants</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tel</th>
    <th>Lat</th>
    <th>Lng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% count = 0 %>
<% marker_string_lat = Array.new %>
<% marker_string_lng = Array.new %>
<% marker_string_name = Array.new %>
<% @resturants.each do |resturant| %>
  <tr>
    <td>(<%= (count+1).to_s %>) <%= resturant.name %></td>
    <td><%= resturant.address %></td>
    <td><%= resturant.tel %></td>
    <td><%= resturant.lat %></td>
    <td><%= resturant.lng %></td>
    <td><%= link_to 'Show', resturant %></td>
    <td><%= link_to 'Edit', edit_resturant_path(resturant) %></td>
    <td><%= link_to 'Destroy', resturant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% marker_string_lat[count] = resturant.lat %>
  <% marker_string_lng[count] = resturant.lng %>
  <% marker_string_name[count] = resturant.name %>
  <% count = count + 1 %>
<% end %>

</table>

<br />

<%= link_to 'New Resturant', new_resturant_path %>
<div id="map_canvas"></div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
  var map;
  var stores = [][3];
  stores = [
<% count.times do |t| %>
    [ <%= marker_string_lat[t]%>, <%= marker_string_lng[t] %>, '<%= marker_string_name[t] %>' ]<%= "," if t < (count - 1) %>
<% end %>
  ];

  var markers = [];
  var iterator = 0;

  var image = new google.maps.MarkerImage('images/restaurant_blue_32.png', new google.maps.Size(32,32), new google.maps.Point(0,0), new google.maps.Point(0, 32));

  function initialize() {
    var myOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
      	function(position) {
      	  var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      	  map.setCenter(pos); 
      	}, function() {
      	  handleNoGeolocation(true);
      	}
      );
    } else {
      handleNoGeolocation(false);
    }
    drop();
  }
  
  function handleNoGeolocation(errorFlag) {
  	//use default location
  	map.setCenter(new google.maps.LatLng(25.025, 121.54));
  }
  
  function drop() {
  	for (var i = 0; i < stores.length; i++) {
  	  setTimeout(function() {
  	  	addMarker();
  	  }, i*500);
  	}
  }
  
  function addMarker() {
  	var LatLng = new google.maps.LatLng(stores[iterator][0], stores[iterator][1]);
  	markers.push(new google.maps.Marker({
  		position: LatLng,
  		map: map,
  		icon: image,
  		draggable: false,
  		title: stores[iterator][2],
  		animation: google.maps.Animation.DROP
  	}));
  	iterator++;
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
